<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.title }}">
  <meta name="keywords" content="sandstone hpc,high performance computing,user interface,web ide">
  <meta name="author" content="Zebula Sampedro">
  <meta name="author" content="CU Research Computing">
  <link rel="icon" href="/assets/img/favicon-32x32.png" alt="Sandstone HPC - An easier interface to high-performance computing">
  <title>{{ page.title }}</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/css/bootstrap-sandstone.min.css" rel="stylesheet">
  <link href="/assets/css/marketing.css" rel="stylesheet">
</head>
