<!-- jumbotron-apps -->
<div class="jumbotron jumbotron-apps">
  <div class="container">
    <div class="row">
      <div class="cold-md-6 col-sm-6 col-xs-12">
        <h1>Customize your environment.</h1>
        <p>Extend your deployment with purpose-built apps.</p>
      </div>
      <div class="col-md-6 col-sm-6 hidden-xs">
        <span class="fa-stack fa-5x center-block">
          <img class="nav-logo img-responsive img-circle" alt="Sandstone HPC" src="/assets/img/sandstone-icon-800x800.png">
          <i class="fa fa-plus-circle fa-plus-circle-back fa-stack-2x"></i>
          <i class="fa fa-plus-circle fa-plus-circle-mid fa-stack-2x"></i>
          <i class="fa fa-plus-circle fa-plus-circle-front fa-stack-2x"></i>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- jumbotron-apps -->
<!-- jumbotron-def -->
<div class="jumbotron jumbotron-def">
  <div class="container">
    <h2>Currently supported apps for <strong>Sandstone IDE</strong>.</h2>
  </div>
</div>
<!-- jumbotron-def -->
