<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sandstone-nav-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-brand-logo" href="#">
        <img class="nav-logo img-responsive img-rounded center-block" alt="Sandstone HPC - An easier interface to high-performance computing" src="/assets/img/favicon-32x32.png">
      </a>
      <a class="navbar-brand" href="/">
        <strong>Sandstone</strong>&nbsp;HPC
      </a>
    </div>
    <div class="collapse navbar-collapse" id="sandstone-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/SandstoneHPC/" target="_blank">GitHub</a></li>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="https://www.rc.colorado.edu/contact" target="_blank">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
