.navbar.navbar-default {
  border-radius: 0px;
}

.navbar .navbar-brand-logo {
  padding-top: 14px;
}

.navbar .nav-logo {
  max-height: 32px;
}

.navbar .nav > li > a {
  color: white;
}

.jumbotron-hero {
  background-color: white;
}

.jumbotron-hero h1 {
  font-size: 4.2em;
}

.jumbotron-hero .fa-cloud.fa-cloud-back {
  font-size: 2.4em;
  /*color: #DCEDC8;*/
  color: #CFD8DC;
  left: -23px;
  bottom: -29px;
}

.jumbotron-hero .fa-cloud.fa-cloud-mid {
  font-size: 2.7em;
  /*color: #AED581;*/
  color: #90A4AE;
  left: -134px;
  bottom: -119px;
}

.jumbotron-hero .fa-cloud.fa-cloud-front {
  font-size: 2.5em;
  /*color: #93c54b;*/
  color: #607D8B;
  left: 138px;
  bottom: -148px;
}

.jumbotron-hero .fa-fire {
  color: #4DD0E1;
  font-size: 1.6em;
  -ms-transform: rotate(224.7deg);
  -webkit-transform: rotate(224.7deg);
  transform: rotate(224.7deg);
  left: -18px;
  bottom: -137px;
}

.jumbotron-hero .fa-rocket {
  color: #4DD0E1;
  font-size: 4em;
}

.jumbotron-desc {
  color: white;
  background-color: #4DD0E1;
}

.jumbotron-apps {
  background-color: white;
}

.jumbotron-apps .fa-stack {
  font-size: 7em;
}

.jumbotron-apps .fa-stack > img {}

.jumbotron-apps .fa-plus-circle.fa-plus-circle-back {
  color: #FFE0B2;
  font-size: .6em;
  left: 116px;
  bottom: 51px;
}

.jumbotron-apps .fa-plus-circle.fa-plus-circle-mid {
  font-size: .8em;
  color: #FFB74D;
  left: 112px;
  bottom: 111px;
}

.jumbotron-apps .fa-plus-circle.fa-plus-circle-front {
  font-size: 1em;
  color: #FF9800;
  left: 58px;
  bottom: 163px;
}

.jumbotron-def {
  color: white;
  background-color: #4DD0E1;
}

.container-primary {
  padding-top: 20px;
}

.container-primary .col-action {
  margin-top:12px;
  text-align: center;
  font-size: 1.2em;
}

.col-action > i {
  padding: 12px;
  font-size: 6em;
}

.col-action > p {
  margin-top: 12px;
  margin-bottom: 24px;
}

.col-action > p > .btn {
  background-color: #93c54b;
}

h1.app-heading {
  margin-top: 12px;
  margin-bottom: 24px;
}

hr.divider {
  margin: 80px 0;
}
